# Dynamic typing in python

In [4]:
var = 5
type(var)

int

In [5]:
var = "Good"
type (var)

str

In [6]:
# notice that python return the type of the last value that we assigned to var

# Implicit coercion

In [7]:
a = 6
b = 3.5555
type (a+b)

float

In [8]:
# it return a float cause one of the element in the sum is float

# Explicit coercion

In [9]:
n = 6.0125
m = int(n)
print(m)

6

In [69]:
example = str(n)
print(n)
print(example)

6.0125
6.0125

In [15]:
# the output look the same but actually it is not, the first one is a string and the second one is a float, so to be sure in the future :
# alwayrs check the type before operation

In [70]:
print (type(example))
print (type(n))

<class 'str'>
<class 'float'>

# converstion of str into float or int

### What happen when we convert "int" , "float" , "char" into int, float?

In [79]:
number_1 = "522"
number1_float = float(number_1)
number1_int = int(number_1)
print(number1_float)
print(number1_int)

522.0
522

In [86]:
number_2 = "5.22"
number2_float = float(number_2)
print(number2_float)
number2_int = int(number_2) # we got an error with coverting into int
print(number2_int)

5.22

ValueError: invalid literal for int() with base 10: '5.22'

In [4]:
char = "kenny"
char_int = int (char) # we got an error, we just can't convert character into int
char_float = float(char)

ValueError: invalid literal for int() with base 10: 'kenny'

Conclusion :

---
* we can convert into int and float when the terms inside the quotation is an int
* we can convert into float but not into int when the expression inside the quotation in a rational
* we can't convert into int nor float if the expression inside the quotation is a character
---

### What happen when we convert an int into float or str?

In [91]:
i = 78
float_i = float(i)
print(float_i)
str_i = str(i)
print(str_i)

78.0
78

Conclusion : 

---
* Given a int, we can always convert it into float or str
---

### What happen when we convert a float into str or int?

In [88]:
fl = 5.22
fl_int = int(fl)
print(fl_int)
fl_str = str(fl)
print(fl_str)

5
5.22

Conclusion : 

---
* Given a float, we can always convert it into int or str
---

# 3 Methods associated with variable

In [25]:
i = 3

In [7]:
print(dir(i))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'is_integer', 'numerator', 'real', 'to_bytes']

In [18]:
i.is_integer() # return True if the variable is an integer

True

In [28]:
i.denominator

1

In [29]:
i.real

3

In [31]:
f = 2.5
print(dir(f))

['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

In [32]:
f.real

2.5

In [34]:
f.as_integer_ratio() # output a tuple of integer wich division output f

(5, 2)

In [29]:
string = "name"
print(dir(string))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [102]:
string.capitalize() # make the first character of my string upper case

'Name'

In [107]:
string.isnumeric() #return yes when the expression inside the quotation is integer

False

In [114]:
num = "2,5"
num.isdecimal()

False

In [115]:
help(num.isdecimal)

Help on built-in function isdecimal:

isdecimal() method of builtins.str instance
    Return True if the string is a decimal string, False otherwise.

    A string is a decimal string if all characters in the string are decimal and
    there is at least one character in the string.

# Arithmetic operations and input

In [95]:
a = input("Enter an interger number : ")
b = input ("Enter another integer number : ")
sum = int(a) + int (b) # we need to always convert into int or float cause the type of an input is str by default, if the user input a float an we convert it into int, there will be an error
print ("The sum of the two numbers is : ", sum)

Enter an interger number :  5
Enter another integer number :  7

The sum of the two numbers is :  12

In [71]:
country = input("Enter your country: ")
print ("You are from " + country) # the type of country is str so we can concatenate str with "+"

Enter your country:  Madagascar

You are fromMadagascar

# Exercise : try  to swap bool_1 and bool_2 without swap use third variable or python swap

In [73]:
bool_1 = True
bool_2 = False

In [68]:
bool_1 = bool_1 + bool_2
bool_2 = bool_1 - bool_2
bool_1 = bool_1 - bool_2
print(bool_1, bool_2)

0 1