<center><b>AFRICAN INSTITUTE FOR MATHEMATICAL SCIENCES</b><br><br>
(AIMS RWANDA, KIGALI)</b></center>

---
---
Name : Kenny Lalatiana ANDRIANTIAVINTSOA <br>
Course : Python Programming <br>
report number : 5 <br>
Date : September 29, 2025

---
---

## List

In [1]:
first_list = ["Kenny",27,98,True,5.8] # a list can contain any type of variable

In [2]:
# trying to change a value in a list, as it is muable object, let's change the third element:
first_list[2]=7
print(first_list)

['Kenny', 27, 7, True, 5.8]

### Methods

In [3]:
num_list = list(range(1,25))
print(num_list) # we can see that range is exclusive for the end : [1,25[

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [4]:
sum_num_list = sum(num_list)
sum_num_list

300

In [5]:
# sort
list1= [2,9,6.7,63,8.2,55,1.25687469555,21]
list1.sort() #works with numerical,n whatever the content is float or list
print(list1)

[1.25687469555, 2, 6.7, 8.2, 9, 21, 55, 63]

In [6]:
list2=["a","b","baba","kara","A", "Analakely", "analakely","Andria", "Baby", "PYTHON","#","!**","#ZazaVavy"] 
list2.sort() # sort method also works on characters, it check the order of the first character of the element according to code ASCII
list2

['!**',
 '#',
 '#ZazaVavy',
 'A',
 'Analakely',
 'Andria',
 'Baby',
 'PYTHON',
 'a',
 'analakely',
 'b',
 'baba',
 'kara']

In [7]:
list3 = [True,False,True,True,False]
list3.sort() # works also on list of boolen, and False<True
list3

[False, False, True, True, True]

In [8]:
list4 = [[9,10,11],[2,3,5],[78,3,40],[1.2,1000,87],[1,1,1,1,1,1]]
list4.sort() #works also for a 2 dimensional list and compare the first value of each sub list 
list4

[[1, 1, 1, 1, 1, 1], [1.2, 1000, 87], [2, 3, 5], [9, 10, 11], [78, 3, 40]]

In [9]:
list4[-1].sort()
list4[-1]

[3, 40, 78]

In [10]:
print(list4)

[[1, 1, 1, 1, 1, 1], [1.2, 1000, 87], [2, 3, 5], [9, 10, 11], [3, 40, 78]]

In [11]:
len(list4)

5

In [12]:
for i in range(len(list4)):
    list4[i].sort()
    list4.sort()
list4

[[1, 1, 1, 1, 1, 1], [1.2, 87, 1000], [2, 3, 5], [3, 40, 78], [9, 10, 11]]

In [13]:
# append and extend : 
first_list.append([2,3,4]) # append take the argument as only one object
print(first_list)
first_list.extend([2,3,4]) # extend take argument a list ant it add it as many objets
print(first_list)

['Kenny', 27, 7, True, 5.8, [2, 3, 4]]
['Kenny', 27, 7, True, 5.8, [2, 3, 4], 2, 3, 4]

In [14]:
first_list.extend(66) # there is error caus extend take only iterable object as argument
first_list

TypeError: 'int' object is not iterable

In [15]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
copy_list1 = list1.copy()
copy_list1

[1.25687469555, 2, 6.7, 8.2, 9, 21, 55, 63]

In [17]:
print(list4)
print(list4[0].count(1))# the method count, count the number of occurence of the element put in argument
print(list4.count([1])) # cause list4 contains list that contains 1 but it not contains 1 itself

[[1, 1, 1, 1, 1, 1], [1.2, 87, 1000], [2, 3, 5], [3, 40, 78], [9, 10, 11]]
6
0

In [18]:
print(list2)
print(list2.index("PYTHON")) # return the index of the element put in argument and return error if the element is not in the list
print(list2.index(7))

['!**', '#', '#ZazaVavy', 'A', 'Analakely', 'Andria', 'Baby', 'PYTHON', 'a', 'analakely', 'b', 'baba', 'kara']
7

ValueError: 7 is not in list

In [19]:
print(list3)
list3.clear() # clear all the value in a list
list3

[False, False, True, True, True]

[]

In [ ]:
help(list.pop)

In [20]:
print(list1)
list1_third_element = list1.pop(2) #remove the 3rd element but at the same time it returns the value correspendent to the index
print(list1)
list1.insert(2,list1_third_element) #re-insert the thirt element at it's initial place
print(list1)

[1.25687469555, 2, 6.7, 8.2, 9, 21, 55, 63]
[1.25687469555, 2, 8.2, 9, 21, 55, 63]
[1.25687469555, 2, 6.7, 8.2, 9, 21, 55, 63]

In [21]:
help(list1.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [22]:
list1.remove(2)
list1

[1.25687469555, 6.7, 8.2, 9, 21, 55, 63]

In [23]:
list1.reverse()
list1

[63, 55, 21, 9, 8.2, 6.7, 1.25687469555]

### Operations on list

In [25]:
# addition : add the two list into new list and the order follows the order of the addition
list5 = list1 + list2
list5

[63,
 55,
 21,
 9,
 8.2,
 6.7,
 1.25687469555,
 '!**',
 '#',
 '#ZazaVavy',
 'A',
 'Analakely',
 'Andria',
 'Baby',
 'PYTHON',
 'a',
 'analakely',
 'b',
 'baba',
 'kara']

In [26]:
list1 / 2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [27]:
list1 / list1

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [28]:
list1+2

TypeError: can only concatenate list (not "int") to list

In [29]:
list1 * 2

[63,
 55,
 21,
 9,
 8.2,
 6.7,
 1.25687469555,
 63,
 55,
 21,
 9,
 8.2,
 6.7,
 1.25687469555]

> Conclusion : we can only use + an * with list as arithmetic operators

### Accessing and slicing

In [30]:
list1

[63, 55, 21, 9, 8.2, 6.7, 1.25687469555]

In [33]:
list6 = list1[2:5] # the sliciing is exclusive at the end : [2:5[ 
list6

[21, 9, 8.2]

In [37]:
list7 = list1[1::3]
list7

[55, 8.2]

In [39]:
list8 = list1[::-1] #inversing list 1, like reverse methode
list8

[1.25687469555, 6.7, 8.2, 9, 21, 55, 63]

In [40]:
list2[0]

'!**'

## Dictionary

In [89]:
persons = {"name":["Kenny","Jenny","Kara"],"country":["Madagascar","Kenya","Rwanda"], "height":[1.55,1.87,1.60]}

In [90]:
persons.items()

dict_items([('name', ['Kenny', 'Jenny', 'Kara']), ('country', ['Madagascar', 'Kenya', 'Rwanda']), ('height', [1.55, 1.87, 1.6])])

In [91]:
persons.keys() # output the keys of our dict

dict_keys(['name', 'country', 'height'])

In [92]:
persons.values()

dict_values([['Kenny', 'Jenny', 'Kara'], ['Madagascar', 'Kenya', 'Rwanda'], [1.55, 1.87, 1.6]])

In [93]:
print(persons['name'])

['Kenny', 'Jenny', 'Kara']

In [94]:
print(persons)

{'name': ['Kenny', 'Jenny', 'Kara'], 'country': ['Madagascar', 'Kenya', 'Rwanda'], 'height': [1.55, 1.87, 1.6]}

In [95]:
persons["country"]= "Madagascar"
persons

{'name': ['Kenny', 'Jenny', 'Kara'],
 'country': 'Madagascar',
 'height': [1.55, 1.87, 1.6]}

In [96]:
persons["country"] = [persons["country"]]
persons["country"].extend(["Rwanda","Kenya"])

In [97]:
persons

{'name': ['Kenny', 'Jenny', 'Kara'],
 'country': ['Madagascar', 'Rwanda', 'Kenya'],
 'height': [1.55, 1.87, 1.6]}

In [98]:
# adding element to our dict
persons["id"] = list(range (1,len(persons["name"])+1))

In [99]:
persons

{'name': ['Kenny', 'Jenny', 'Kara'],
 'country': ['Madagascar', 'Rwanda', 'Kenya'],
 'height': [1.55, 1.87, 1.6],
 'id': [1, 2, 3]}

In [100]:
# here we acces the infos about person 1 and store them in a list
person0 = [] 
person1.append(persons['id'][0])
person1.append(persons["name"][0])
person1.append(persons["country"][0])
person1.append(persons["height"][0])
person1

[1, 'Kenny', 'Madagascar', 1.55, 1, 'Kenny', 'Madagascar', 1.55]

In [102]:
# deleting the person1 from the dict
del persons["name"][0]
del persons["country"][0]
del persons["height"][0]
del persons['id'][0]

In [103]:
persons

{'name': ['Jenny', 'Kara'],
 'country': ['Rwanda', 'Kenya'],
 'height': [1.87, 1.6],
 'id': [2, 3]}

In [104]:
# deleting the element 'id'
del persons["id"]

In [105]:
persons

{'name': ['Jenny', 'Kara'],
 'country': ['Rwanda', 'Kenya'],
 'height': [1.87, 1.6]}

In [106]:
# method pop
persons["surname"] = persons.pop('name') # this will delete annd output at the same time the element with key "name", but if we store it into new key, the value of the old key will be assigned too the new key so its like its renaming the key

In [107]:
persons

{'country': ['Rwanda', 'Kenya'],
 'height': [1.87, 1.6],
 'surname': ['Jenny', 'Kara']}