# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [1]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [3]:
fruit = ("apple","banana","cherry")
type(fruit)

tuple

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [7]:
numbers = [10,20,30,40]
numbers = tuple(numbers)
numbers

(10, 20, 30, 40)

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [9]:
set1 = {1,2,3,4,5}
type(set1)

set

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [12]:
student = {"name" : "Alice","age":20,"grade":"A"}
type(student)

dict

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [13]:
list1 = [10,20,30,40,50]
list1[1]

20

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [14]:
fruits = ["apple","banana","cherry","orange"]
fruits[2]= "mango"
fruits

['apple', 'banana', 'mango', 'orange']

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

In [17]:
numbers = {1,2,3,4,5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [19]:
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")
person

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

In [23]:
x = range(0,9)
type(x)

range

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

In [26]:
squares = [i**2 for i in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

In [51]:
even = tuple(2*i for i in range(1,6))
even

(2, 4, 6, 8, 10)

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [44]:
for element in fruits :
    print(element)

apple
banana
orange

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [46]:
3 in numbers

True

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [47]:
numbers = (10,20,30)
len(numbers)

3

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [49]:
scores = [80,85,90,95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [53]:
def sum_list(l):
    """
    This function sum the value of a given list.
    Input : The list to sum.
    Ouptut : The sum of the list
    """
    return sum(l)

In [54]:
sum_list(numbers)

60

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [55]:
numbers = [1,2,2,3,4,4,5]
set_n = set(numbers)
set_n

{1, 2, 3, 4, 5}

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [56]:
hello = list("hello")
hello

['h', 'e', 'l', 'l', 'o']

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

In [60]:
def tuple_reverse(t):
    """
    This function reverse the order of a given tuple.
    Input : Tuple to reverse.
    Output : The reverse of the given tuple
    """
    return t[::-1]

In [61]:
tuple_reverse((1,2,3,4))

(4, 3, 2, 1)

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [67]:
dict1 = {"a":1,"b":2}
dict2 = {"c":3,"d":4}
dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [84]:
squares = {i:i**2 for i in range(1,6)}
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [90]:
dict1={"a":2,"b":4}
for key in dict1.keys():
    print(f"{key} : {dict1[key]}")

a : 2
b : 4

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [94]:
help(chr)

Help on built-in function chr in module builtins:

chr(i, /)
    Return a Unicode string of one character with ordinal i; 0 <= i <= 0x10ffff.

In [96]:
alpha = [chr(i) for i in range(97,102)]
alpha

['a', 'b', 'c', 'd', 'e']

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [105]:
list2 = [1,2,3]
list3 = ["a","b","c"]
zipped = list(zip(list2,list3))
zipped

[(1, 'a'), (2, 'b'), (3, 'c')]

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [107]:
list1.index(50)

4

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

In [109]:
names = ["Alice","Bob","Charlie","David"]
names.sort()
names

['Alice', 'Bob', 'Charlie', 'David']

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

In [110]:
def max_list(l):
    """
    This function output the  maximum value of a given list of numbers.
    Input : A list.
    Output : The largerst number of the given list.
    """
    return max(l)

In [111]:
max_list(list1)

50

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [115]:
fruits= ["apple", "banana", "apple", "orange"]
fruits.count("apple")

2

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

In [117]:
person = {"name":"Alice","age":25,"city":"New York"}
person["city"]

'New York'

---

### Exercise 31:
Write a Python script that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [126]:
def remove_duplicate(l):
    """
    This function remove the duplicated value of a given list.
    Input : A list.
    Ouptup : The inputed list without duplicated value
    """
    return list(set(l))

In [127]:
remove_duplicate(numbers)

[1, 2, 3, 4, 5]

In [129]:
print(fruits)
remove_duplicate(fruits)

['apple', 'banana', 'apple', 'orange']

['orange', 'apple', 'banana']

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

In [137]:
def list_intersection(L,l):
    """
    This function take two lists and return their intersection.
    Inputs : Take two lists L and l.
    Outputs: Return the values that are in L and l.
    """
    return [element for element in L if element in l]

In [138]:
list_intersection([1,2,3,"banane"],["banane",2])

[2, 'banane']

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [147]:
def square_up_to_ten():
    for i in range(11):
        yield i**2 
a=square_up_to_ten()
for i in range (11):
    print(next(a))
type(a)

0
1
4
9
16
25
36
49
64
81
100

generator

---

### Exercise 34:
Write a Python script that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

In [153]:
def sum_dict(d):
    """
    This function gives the sum of values of a dictionnary.
    Input : A dictionnary
    Output : The sum of the value of it
    """
    return sum(d.values())

In [155]:
sum_dict(dict1)

6

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

In [162]:
list4 = [3,1,4,1,5,9]
sorted(list4)

[1, 1, 3, 4, 5, 9]

---

### Exercise 36:
Write a Python script that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

In [163]:
def longest_string(l):
    """This function gives the longest string in a given list of strings.
    Input : A list of strings.
    Output: A string with the longest length in the list
    """
    return max([len(element) for element in l])

In [166]:
print(fruits)
longest_string(fruits)

['apple', 'banana', 'apple', 'orange']

6

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [180]:
list5 = [1,2,3,4,5]
all(i>0 for i in list5)

True

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [183]:
square_tup = [(i,i**2) for i in range(1,6)]
square_tup

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

---

### Exercise 39:
Write a Python script that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

In [192]:
def second_element(l):
    """
    This function gives a list containing the second element of each tuple of the given list.
    Input : A list of tuple.
    Ouptut : A list containing the second element of tuples in the given list.
    """
    return [l[i][1] for i in range(0,len(l))]

In [194]:
second_element([(1,2,3),("a","b","c"),(4,7)])

[2, 'b', 7]

---

### Exercise 40:
Write a Python script that flattens a list of lists into a single list.

```python
# Exercise 40
```

In [218]:
def single_list(l):
    """
    This function transform a list of list into a single list.
    Input : A list of list.
    Output : A list which elements are the elements of the sublists of the initial list.
    """
    return [i for element in l for i in element]

In [219]:
single_list([[1,2],[7,8],[12,75]])

[1, 2, 7, 8, 12, 75]

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

In [226]:
fruits_enum = enumerate(fruits)
for i in range(len(fruits)):
    print(next(fruits_enum))

(0, 'apple')
(1, 'banana')
(2, 'apple')
(3, 'orange')

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

In [241]:
def is_empty_tuple(t):
    """
    This function check if a given tuple is empty.
    Input : A Tuple.
    Output : Return True if the tuple is given, Fals if not
    """
    if not t:
        return True
    else :
        return False

In [243]:
is_empty_tuple(())

True

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

In [245]:
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

---

### Exercise 44:
Write a Python script that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [246]:
def list_reverse(l):
    """
    This function gives the reverse of the given list.
    Input : A list.
    Output : Reversed list.
    """
    return l[::-1]

In [251]:
list_reverse(list(range(7,22)))

[21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7]

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

In [253]:
dict_cubes = {i:i**3 for i in range(1,6)}
dict_cubes

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [256]:
def unique_val_list(l):
    """
    This function remove duplicated value in a given list.
    Input : A list with duplicated value.
    Ouptut : A new list which elements are unique value from the inputed list.
    """
    return list(set(l))

In [255]:
unique_val_list([1, 2, 2, 3, 4, 4, 5])

[1, 2, 3, 4, 5]

---

### Exercise 47:
Write a Python script that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

In [267]:
def list_dict(l):
    """
    This function create a new list which elements are the values of the dictionaries in the given list.
    Input : A list of dictionnary
    Output : A list of all the values
    """
    return [element[key] for element in l for key in element]

In [269]:
list_dict([dict1,dict2])

[2, 4, 3, 4]

---

### Exercise 48:
Write a Python script that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [279]:
def fibonacci(n):
    """
    This fuction yield the Fibonacci sequence up to given n terms.
    Input : An integer n which is the number of terms wanted.
    Output : List of a Fibonacci sequence up to n terms.
    """
    n1=1
    n2=1
    for i in range (n):
        yield n1
        n1 , n2 = n2,n1+n2

In [280]:
fibo=fibonacci(13)
for i in range (13):
    print(next(fibo))

1
1
2
3
5
8
13
21
34
55
89
144
233

---

### Exercise 49:1
Write a Python script that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

In [284]:
def unique_val_str(s):
    """
    This function returns a list of all unique characters in a given string.
    Input : String
    Output : A list of all unique characters in the string
    """
    return list(set(s))

In [285]:
unique_val_list("andriantiavintsoa")

['t', 'v', 'd', 'a', 's', 'o', 'i', 'n', 'r']

---

### Exercise 50:
Write a Python script that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

In [301]:
def merge_list(L,l):
    """
    This function merges two sorted lists into a single sorted list.
    Input : Takes two sorted lists.
    Output : A single sorted list
    """
    liste = L+l
    liste.sort()
    return liste

In [303]:
sorted_list = merge_list([4,5,6],[1,2,3])
sorted_list

[1, 2, 3, 4, 5, 6]

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

In [309]:
odd_numbers = list(filter(lambda x :x%2!=0,[1,2,3,4,5,6]))
odd_numbers

[1, 3, 5]

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

In [310]:
dict([(1, 2), (3, 4), (5, 6)])

{1: 2, 3: 4, 5: 6}

---

### Exercise 53:
Write a Python script that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

In [312]:
def symmetric_diff(s1,s2):
    return {i for i in s1 if i in s2}

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

In [323]:
def common_element_list(l1,l2,l3):
    return [i for i in l1 if i in l2 and i in l3]

In [324]:
common_element_list([1,2,3],[7,8,4,2],[2,1])

[2]

---

### Exercise 55:
Write a Python script that returns the factorial of a number using recursion.

```python
# Exercise 55
```

In [334]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)

In [335]:
factorial(6)

720

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

In [338]:
list6 = ["apple", "", "banana", "", "cherry"]
for i in list6:
    if not i:
        index=list6.index(i)
        list6.pop(index)
print(list6)

['apple', 'banana', 'cherry']

---

### Exercise 57:
Write a Python script that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

In [341]:
def dict_swap(d):
    swapped={}
    for element in d:
        swapped.update({d[element]:element})
    return swapped

In [342]:
dict_swap(dict1)

{2: 'a', 4: 'b'}

---

### Exercise 58:
Write a Python script that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

In [343]:
def even_list(l):
    return [n for n in l if n%2==0]

In [346]:
even_list([1,55,4,2,6,522])

[4, 2, 6, 522]

---

### Exercise 59:
Write a Python script that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

In [349]:
def first_element_tuple(l):
    return [element[0] for element in l]

In [350]:
first_element_tuple([(8,5,1,32),(147,7,42),(7,51,5,415)])

[8, 147, 7]

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

In [363]:
list4 = [2,3,9,7,3,2,6,4,7]
new_list=[]
for element in list4:
    if element not in new_list:
        new_list.append(element)
new_list

[2, 3, 9, 7, 6, 4]

---

### Exercise 61:
Use the `map()` script to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

---

### Exercise 63:
Write a Python script that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

---

### Exercise 66:
Write a Python script that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

### Exercise 68:
Write a Python script that flattens a nested list.

```python
# Exercise 68
```

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

### Exercise 71:
Write a Python script that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

### Exercise 75:
Write a Python script that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

### Exercise 77:
Write a Python script that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

### Exercise 78:
Write a Python script that takes two sets and returns their union.

```python
# Exercise 78
```

---

### Exercise 79:
Write a Python script that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

### Exercise 82:
Write a Python script that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

### Exercise 84:
Write a Python script that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

### Exercise 86:
Write a Python script that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

### Exercise 88:
Write a Python script that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

### Exercise 89:
Write a Python script that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

### Exercise 92:
Write a Python script that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

### Exercise 94:
Write a Python script that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

### Exercise 96:
Write a Python script that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

### Exercise 98:
Write a Python script that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

### Exercise 100:
Write a Python script that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---